<h3><em>About Me!</em></h3>
<h3>Website Design, build according to the latest web standards.</h3>
<h4>Journey So far...</h4>

<p>I'm a Software Engineer, have been involved in Automation and manual testing for web applications and mobile applications like Android. I'm Agile Scrum Certified and AWS Developer Associate Certified.</p>

<p>Before joining Epicodus, I knew very little about technologies in terms of bits and pieces.</p>

<p>I've created beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and seo friendly using technologies such as HTML/CSS, JavaScript, Angular, Java.

All my websites are lovingly hand coded. For building websites my weapons of choice are Photoshop and Fireworks for creating layouts, to produce clean semantic HTML and CSS. Having a good knowldge on web and App testing and being mentored to test team members, have decided to change career to developement so as to provide deliverable software with good quality.</p>

<p>Currently i'm student at Epicodus for Java/Android app development. So far, I've completed HTML/CSS, Java and Javascript Units.</p>

<div class="my">
  <p>  I live in Beaverton,Oregon with my husband
    and beautiful daughter – Pavaki. I love to travel, and I love my job!</p>
</div>
