
<h2>Projects</h2>

<ul>
  <li>
    <h5><b>Team Tracker</b></h5>
    <h5><b>Java, Spark, PostGres, RESTFUL webservices</b></h5>
    <p>This is a program that allows a Startup Weekend organizer or hack-a-thon coordinator to track teams and their members. Management software with dashboard for a hypothetical Teams to allow to CREATE, ADD, UPDATE, DELETE members</p>
      <p><a href="https://github.com/shyamalpunekar/team-tracker-extended" rel="nofollow" title="Look through my github profile"><i class="fa fa-github" aria-hidden="true"></i>Team Tracker</a></p>

  </li>

  <li>
    <h5><b>Galactic Age Calculator</b></h5>
    <h5><b>HTML/CSS, JavaScript/TypeScript, ES6, Jasmine/Karma</b></h5>
    <p>An application that determines a user’s age based on a planet’s solar years.</p>
    <p><a href="https://github.com/shyamalpunekar/galactic-age-calculator" rel="nofollow" title="Look through my github profile"><i class="fa fa-github" aria-hidden="true"></i>Galacti Age Calculator</a></p>
  </li>

  <li>
    <h5><b>My Portfolio</b></h5>
    <h5><b>HTML/CSS, JavaScript/TypeScript, AngularJs2, Firebase</b></h5>
    <p>An application gives an information about my educational background, skills, technologies, current education, future Goals.</p>
    <p><a href="https://github.com/shyamalpunekar/ngMyPortfolio" rel="nofollow" title="Look through my github profile"><i class="fa fa-github" aria-hidden="true"></i>My Portfolio</a></p>
  </li>

  <li>
    <h5><b>Doctor LookUp</b></h5>
    <h5><b>HTML/CSS, JavaScript/TypeScript, AngularJS</b></h5>
    <p>An application where users may enter a medical issue into a form, submit it, and receive a list of doctors in your city (e.g. Portland).</p>
    <p><a href="  https://github.com/shyamalpunekar/betterDoctor-api" rel="nofollow" title="Look through my github profile"><i class="fa fa-github" aria-hidden="true"></i>Doctor LookUp</a></p>

  </li>
</ul>



<!-- <div *ngFor="let activity of activities" (click)="goToDetailPage(album)" class="panel panel-default">
<div class="panel-body">
  <h3><em>{{activity.name}}</em> by {{activity.technology}}</h3>
  </div>
  </div> -->
